.block {
    background-color: #008C9A;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.navBtn {
    color: white;
}

.modalsContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008C9A;
    height: auto;
    width: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.badgesContainers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #008C9A;
    height: auto;
    width: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.colorContainers {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.formContainers {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-end;
    height: auto;
    width: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;}

.spinnersContainers {
    display: flex;
    flex-direction: column;
    background-color: #008C9A;

}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.texts {
    font-size: 45px;
    font-family: Roboto;
    font-style: italic;
    border-radius: 12px;
}

@media (max-width: 767.98px) {
    .buttons,
    .modalsContainers,
    .navBtn,
    .blocks,
    .colorContainers,
    .badgesContainers {
        display: block;
        order: initial;
    }
}