/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/


.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.headline {
    font-weight: 400;
    margin-bottom: 15px;
}

.description {
    margin-bottom: 50px;
}

.icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: #008C9A;
}

.descriptionContainer {
    margin-bottom: 50px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    background: #008C9A;
    box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.input {
    position: absolute;
    opacity: 0;
}

.label {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    transition: all 0.4s, color 0.4s;
}

.label:hover {
    background: rgba(170, 170, 170, 0.2);
}

.label:active {
    background: #008C9A;
}

.input:checked + .label {
    background: rgba(255, 255, 255, 0.9);
    color: #008C9A;
}

.tabs #panel1,
.tabs #panel2,
.tabs #panel3,
.tabs #panel4 {
    display: none;
    padding: 50px 30px 30px;
    background: rgba(255, 255, 255, 0.9);
    order: 99;
}

.input:checked + .label + #panel1,
.input:checked + .label + #panel2,
.input:checked + .label + #panel3,
.input:checked + .label + #panel4 {
    display: flex;
}

.label {
    width: auto;
}

.row {
    width: 100%;
}

@media (max-width: 767.98px) {
    .tabs #panel1,
    .tabs #panel2,
    .tabs #panel3,
    .tabs #panel4 {
        display: block;
        order: initial;
    }

    .label {
        width: auto;
    }

    .label:hover {
        background: transparent;
    }

    .input:checked + .label {
        background: rgba(255, 255, 255, 0.0);
        color: #fff;
    }

    .input {
        display: none;
    }
}


.block {
    background-color: #008C9A;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.navBtn {
    color: white;
}

.modalsContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008C9A;
    height: auto;
    width: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.colorContainers {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.texts {
    font-size: 45px;
    font-family: Roboto;
    font-style: italic;
    border-radius: 12px;
}

@media (max-width: 767.98px) {
    .buttons,
    .modalsContainers,
    .navBtn,
    .blocks,
    .colorContainers
    {
        display: block;
        order: initial;
    }
}